<div class="w-1/4 lg:w-1/5 p-2 bg-purple-200 text-center border-md">
  <div class="rounded-full bg-gray-400 flex items-center justify-center mx-auto m-12 h-32 w-32">
    <img class="rounded-full" src="https://api.adorable.io/avatars/285/{{user}}" alt="avatar">
  </div>
  <p class="text-xs lg:text-sm text-gray-700 font-normal">{{user}}</p>
  <a href="/logout">
    <button
            class="btn transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 bg-orange-300 text-white font-bold lg:py-2 lg:px-4 p-2 rounded-full mt-5 flex justify-content-center mx-auto">
      Log out!
    </button>
  </a>
  <h2 class="tracking-wide text-gray-700 text-xs font-bold text-lg mt-12">Job Posting</h2>
  <div>
    <input id="city"
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-xs"
           type="text" placeholder="Where are you looking for a job?">
    <select id="job-options"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="What kind of Job?">
    </select>
    <button id="search-btn"
            class="btn transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 bg-orange-300 text-white font-bold py-2 px-4 rounded-full mt-5 flex justify-content-center mx-auto">
      Search for Jobs
    </button>
  </div>
  <div id="container" class="mt-5 companies p-3">
  </div>
</div>
